footer {
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ebf1ea !important;
}
.main-footer {
  color: rgb(51, 53, 54);
  padding: 30px;
}

.sign {
  background: #323b40;
  overflow: hidden;
  text-align: center;
  height: 35px;
  padding-top: 5px;
  color: rgb(177, 189, 189);
}

.Icon {
  color: #0f9948;
  font-size: 25px;
}
.Icon:hover {
  color: #17f880;
}
.Icon:focus {
  border-bottom: 3px solid #05e06b;
}

.link {
  display: inline-block;
  height: 25px;
  padding-bottom: 15px;
  margin: 20px;
  position: relative;
  transition: 0.2s ease-in;
  width: 30px;
}
.changepage {
  margin-left: 5px;
  text-decoration: none;
  color: #323b40;
}
.social-media {
  margin-left: 15px;
}
