@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&family=Poppins:wght@600&family=Quicksand&display=swap');

body {
  margin: 0;
  font-family: 'Poppins';
}

h1 {
  font-family: 'Poppins', 'Cabin';
}

p,
li,
h5,
h6 {
  font-family: 'Quicksand';
}
html,
body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}
.bg-image-search {
  background-image: url('./assets/search.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
}
.bg-image-search::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.bg-image-training {
  background-image: url('./assets/training.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
}
.bg-image-training::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.bg-image-evaluation {
  background-image: url('./assets/evaluation.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
}
.bg-image-evaluation::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.card {
  border: none !important;
  background-color: transparent !important;
  color: white !important;
  font-size: large;
  min-height: 600px !important;
  padding-top: 25px !important;
}
